body {
    background: #f5f5f5;
}

main {
    display: flex;
    background: white;
    border-bottom: 1px solid #ccc;
} 

section {
    display: flex;
    flex: 1;
    padding: 10px;
    max-width: 50%;
}

section:last-child {
    border-left: 1px solid #ccc;
}

form {
    width: 100%;
}

textarea {
    width: 100%;
    border: 1px solid black;
}

input[type="submit"] {
    float: right;
    border-radius: 20px;
    background-color: white;
}

pre {
    white-space: pre-wrap;
    font-size: 12px;
}

.banner {
    display: flex;
    height: 40px;
    background-color: #205081;
    align-items: center;
}

.logo {
    margin-left: 8px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

